<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/main.css}">
</head>
<body>
<h1>Identity cards</h1>
<h2>Update identity card</h2>
<form th:action="@{/identity-cards/update/{id}(id=${identityCard.id})}" th:object="${identityCard}" method="post">
    <label for="activationDate">Activation date</label>
    <input type="date" th:field="*{activationDate}" id="activationDate">
    <br />
    <label for="owner">Owner</label>
    <input type="text" th:field="*{owner}" id="owner" placeholder="Owner">
    <br />
    <input type="submit" value="Update identity card">
</form>
</body>
</html>
